<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sandeep Yadav</title>
    <link rel="manifest" href="/manifest.json">
</head>


<body id="body" style=" background: url('/images/image.jpg') center center no-repeat; background-size: cover; background-attachment:fixed;">
      
 <div id="particles-js"></div>
    </body>
 
    
    

    
 

<br>


<div class="text-center" >
    <h4 class="cyan-text"> Kindly Choose the option accordingly</h4>
    </div>
<div style="margin-top:10%" class="container-fluid">
   <div  class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3">
          
      <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header teal">Admin</div>
      <div class="collapsible-body teal-text">
		  <p>Click here for Admin Login</p>
		  <br>
		<a  class='btn hoverable' href='/adminLogin'>
				Admin Login
		</a>

	  </div>
	
	</li>
    <li>
	
			<div class="collapsible-header orange">Teacher</div>
			<div class="collapsible-body teal-text">
				<p>Click here for Teacher Login</p>
				<br>
			  <a  class='btn hoverable' href='/teacherLogin'>
					  Teacher Login
			  </a>
	  
			</div>
	
	</li>
    <li>
	
			<div class="collapsible-header teal">Student</div>
			<div class="collapsible-body teal-text">
				<p>Click here for Student Login</p>
				<br>
			  <a  class='btn hoverable' href='/studentLogin'>
					  Student Login
			  </a>
	  
			</div>
	
	
	</li>
  </ul>
            <!-- <div class="card teal lighten-4">
              
              <div class="card-content">
              <span class="card-title ">ABOUT ME</span>
              <span>

<ul>
    <li>I'm an Information Techonology Engineering Student at Delhi technological University, which  is one of the premier institutes in the country.</li><li>I will Complete my bachlors in 2020, till then i'm available as a Part time freelancer web developer.</li>
Over the past 3 months i have gathered proficient skills in web developmant.
    Name: Jaydev Shiroya Age: 20 Years Citizenship: India Job: Freelancer Residence: Ahmedabad Brain: Creative</ul>
           
           </span>
            </div>
  
              
              
          </div>
          -->
          
      </div>
       
   </div>
    
</div>




<br>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
   
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">      
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
   <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">    
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script> 
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('../sw.js')
    .then(function() {
      console.log('SW registered');
    });
}
</script>
</html>

