<!DOCTYPE HTML>
<html >
<head>
<title>Cross-Browser QRCode generator for Javascript</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    

<script type="text/javascript" src="/instascan.min.js"></script>
<script type="text/javascript" src="/qrcode.js"></script>
</head>
<body>



		<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
					<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">place</i>Second</div>
					<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
					<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
				</li>
			</ul>

























<!-- <input id="text" type="text" value="hello" style="width:80%" /><br />
<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div> -->

<!-- <script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 300,
	height : 300
});

function makeCode () {		
	var elText = document.getElementById("text");
	
	if (!elText.value) {
		alert("Input a text");
		elText.focus();
		return;
	}
	
	qrcode.makeCode(elText.value);
}

makeCode();

$("#text").
	on("blur", function () {
		makeCode();
	}).
	on("keydown", function (e) {
		if (e.keyCode == 13) {
			makeCode();
		}
	});
</script>

<br>

<video id="preview" style="margin-top:200px"></video>
<p id='code'>hello </p>
<script type="text/javascript">


  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
  scanner.addListener('scan', function (content) {
	console.log(content);
	document.getElementById('code').innerHTML=content;
  });
  Instascan.Camera.getCameras().then(function (cameras) {
	if (cameras.length==1) {
	  scanner.start(cameras[0]);
	} 
	else if( cameras.length==2)
	{
		scanner.start(cameras[1]);
	}else {
	  console.error('No cameras found.');
	}
  }).catch(function (e) {
	console.error(e);
  });
</script>


 -->


</body>